<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FW_Mukesh Application Test Automation Test Suite" parallel="none">

	<listeners>
		<listener class-name="Analyzer.MyTransformer" />
		<listener class-name="com.Listeners.WebEventListener" />
	</listeners>

	<test name="FW_Mukesh App Test Cases" preserve-order="true">
		<classes>
			<class name="com.testcases.LoginPageTest"></class>
			<!-- <class name="com.testcases.BuildPageTest"></class>
			<class name="com.testcases.CapturePageTest"></class>
			<class name="com.testcases.AnalysePageTest"></class>
			<class name="com.testcases.DashBoardPageTest"></class>
			<class name="com.testcases.SettingsPageTest"></class> -->
		</classes>
	</test>
</suite>